body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.slot {
    height: 310px;
}

.pic-panel {
    height: 200px;
    margin-bottom: 10px;
}
.pic-panel img {
    width: 200px;
    height: 200px;
}

.price {
    color: rgb(229, 21, 21);
    display: inline-block;
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}

.info-panel {

}

footer {
    margin: 50px 0;
}
